{% load static %}

<link rel="icon" href="{{ g_configs.icon_192.image.url }}" sizes="192x192">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

<script src="{% static 'tailwind_js/tailwind.js' %}"></script>


